<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stone.hrm.dao.PermissionMapper">

    <update id="updateStatusByParentId">
        UPDATE tb_permission
        SET
            status = #{status}
        WHERE
            id IN (SELECT
                    id
                FROM
                    (SELECT
                        *
                    FROM
                        tb_permission
                    ORDER BY parent_id , id) products_sorted,
                    (SELECT @pv:=#{id}) initialisation
                WHERE
                    FIND_IN_SET(parent_id, @pv)
                        AND LENGTH(@pv:=CONCAT(@pv, ',', id)));
    </update>

    <delete id="deleteByParentId">
        delete from tb_permission
        WHERE
            id IN (SELECT
                    id
                FROM
                    (SELECT
                        *
                    FROM
                        tb_permission
                    ORDER BY parent_id , id) products_sorted,
                    (SELECT @pv:=#{parentId}) initialisation
                WHERE
                    FIND_IN_SET(parent_id, @pv)
                        AND LENGTH(@pv:=CONCAT(@pv, ',', id)));
    </delete>
</mapper>